@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #141414;
}

/* Content after scroll down */
.home-content {
  margin-top: 100vh;
  position: relative;
  z-index: 2;
  padding: 15rem 2rem 8rem 2rem;
  color: white;
  background-color: #141414;
  min-height: 100vh;
}

/* Page content */
.page-content {
  color: white;
  margin: 20vh 20vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
